:root{
    --color1: rgb(237, 110, 231);
    --color2: rgb(110, 237, 199);
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    z-index: 2;
}
.main__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(233.17deg,   var(--color1), var(--color2) 78.34%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
}
.clock{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.clock__state{
    font-size: 1.5rem;
    display: inline-flex;
}
.clock__reloj{
    color: rgba(70, 70, 70, 1);
    margin: 0px;
    font-size: 15rem;
}
.panel{
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: 50%;
    min-width: max-content;
    max-width: 32em;
}
.navigation{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.navigation-reverse{
    flex-direction: row-reverse;
}

.navigation__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.navigation__item-padding{
    padding-left: 6px;
    padding-right: 6px;
}
.navigation__item-full{
    flex: 1;
}

.button{
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 2.8rem;
    padding: 8px;
    border-radius: 100px;
}
.button-active .button__icon{
    fill:var(--color1);
}
.button__icon{
    height: 100%;
    fill:#464646;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}
.button:hover .button__icon{
    color:var(--color1);
}
.button:active .button__icon{
    fill:var(--color1);
}
.button-text{
    height: 2rem;
    border-radius: 6px;
    color:  var(--color1);
}
.button-text:active{
    background-color: rgb(236, 236, 236);
}
.button-minWidth{
    display: none;
}
.input{
    border: 0px solid;
    background:rgb(243, 243, 243);
    padding: 2px;
    border-radius: 4px;
    color: var(--color1);
    width: 100%;
    font-size: 0.9rem;
}
.input:focus{
    outline: none;
    color: #464646;
}
.input:focus{
    outline: none;
}
.input__title{
    position: relative;
    font-size: 0.9rem;
}
.footer{
    background-color: rgb(70, 70, 70);
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.footer__copy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__contact{
    display: flex;
}
.link{
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 2rem;
    margin: 6px;
    border-radius: 100px;
}
.link__icon {
    height: 100%;
}
@media (max-width: 1200px){
    .clock__reloj{
        font-size: 11rem;
    }
}

@media (max-width: 800px){
    .clock__reloj{
        font-size: 7rem;
    }
}
@media (max-width: 600px){
    .clock__reloj{
        font-size: 5rem;
    }
    .button-minWidth{
        display: inline-flex;
    }
    .navigation-none{
        display: none;
    }
    .navigation-phone{
        width: max-content;
        right: 0px;
        top: 120%;
        border-radius: 4px;
        padding: 8px;
        flex-direction: column-reverse;
        background: #ffffff;
        position: absolute;
    }
    .navigation-phone .navigation__item{
        padding: 6px;
    }
}
